<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://picsum.photos/seed/picsum/600/300"
      cardTitle="Card Title"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.">
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://picsum.photos/seed/picsum/600/300"
      cardTitle="Card Title 1">
    </app-small-card>
    <app-small-card
      photoCover="https://picsum.photos/seed/picsum/600/300"
      cardTitle="Card Title 2">
    </app-small-card>
    <app-small-card
      photoCover="https://picsum.photos/seed/picsum/600/300"
      cardTitle="Card Title 3">
    </app-small-card>
  </div>
</div>