<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://picsum.photos/600/300"
      cardTitle="Card Big Title"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.">
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://picsum.photos/600/300"
      cardTitle="Card Small Title 2">
    </app-small-card>
    <app-small-card
      id="3"
      photoCover="https://picsum.photos/600/300"
      cardTitle="Card Small Title 3">
    </app-small-card>
    <app-small-card
      id="4"
      photoCover="https://picsum.photos/600/300"
      cardTitle="Card Small Title 4">
    </app-small-card>
  </div>
</div>